**Question 1.** Please write a python script that provides a printed output for the following
arithmetic functions (you can use any numbers):
Multiplication
Division
Addition
Subtraction
Modulo Operator

In [21]:
print(5+5)
print(10-5)
print(5*2)
print(10/2)
print(10%3)

10
5
10
5.0
1

**Question 2.** Create an array with at least one of each data type. Create an array with only one
data type. Compare the data types using a logical expression (equals, greater than or equal, not
equal). Please have these values printed out.

In [45]:
array_1 = [1,5,10]
array_2 =[3,8,12]
less_than =(array_1) < (array_2)
greater_than = (array_1) > (array_2)
print(less_than)
print(greater_than)

True
False

**Question 3.** Create a list and use a for loop to print out each element of that list.

In [20]:
soccer_teams = ['Liverpool','Real Madrid','Barcelona','PSG','Juventus']
for team in soccer_teams:
  print(team)

Liverpool
Real Madrid
Barcelona
PSG
Juventus

**Question 4.** Create an array with numbers ranging from 1 to 100. Using a for loop, change the
value of each even number in the total range of values to be equal to 0 within the array. Print out
the final results as a table

In [17]:
numbers = list(range(1,101))
for e in range(len(numbers)):
  if numbers[e] % 2 == 0:
    numbers[e] = 0
  print(f"{e + 1}\t{numbers[e]}")

1	1
2	0
3	3
4	0
5	5
6	0
7	7
8	0
9	9
10	0
11	11
12	0
13	13
14	0
15	15
16	0
17	17
18	0
19	19
20	0
21	21
22	0
23	23
24	0
25	25
26	0
27	27
28	0
29	29
30	0
31	31
32	0
33	33
34	0
35	35
36	0
37	37
38	0
39	39
40	0
41	41
42	0
43	43
44	0
45	45
46	0
47	47
48	0
49	49
50	0
51	51
52	0
53	53
54	0
55	55
56	0
57	57
58	0
59	59
60	0
61	61
62	0
63	63
64	0
65	65
66	0
67	67
68	0
69	69
70	0
71	71
72	0
73	73
74	0
75	75
76	0
77	77
78	0
79	79
80	0
81	81
82	0
83	83
84	0
85	85
86	0
87	87
88	0
89	89
90	0
91	91
92	0
93	93
94	0
95	95
96	0
97	97
98	0
99	99
100	0

**Question 5.** Create a function that will print out a conversation between two people. Your
function should accept two inputs: 1. The name of person A, and the name of Person B. Write
your function so that if the name of Person A is less than 5 characters, Person B will reply with
the line: “Wow, your name is so short!” (print the message to the console).
Example:
Person A: “Hi my name is ____”
Person B: “Hello, person A name, my name is ____”
Person B: “Wow, your name is so short!”

In [47]:
def print_conversation(person_a,person_b):
  if len(person_a) < 5:
    print(f"{person_b}: Wow, your name is so short!")
print(f"{person_a}: Hi my name is Matt")
print(f"{person_b}: Hello, Matt, my name is Scott.")
person_a = "Matt"
person_b = "Scott"
print_conversation(person_a,person_b)

Matt: Hi my name is Matt
Scott: Hello, Matt, my name is Scott.
Scott: Wow, your name is so short!

**Question 6.** Create two arrays that each have a random range of numbers from 1 to 50. Conduct
the following arithmetic functions across the two arrays and print out the results:
Multiplication
Division
Addition
Subtraction
Modulo Operator

In [41]:
array_1 = list(range(1,11))
array_2 = list(range(40,50))
print("Array 1:", array_1)
print("Array 2:", array_2)
multiply = [x * y for x, y in zip(array_1,array_2)]
print("Multiplication",multiply)
add = [x + y for x, y in zip(array_1,array_2)]
print("Addition",add)
subtract = [y - x for x, y in zip(array_1,array_2)]
print("Subtraction",subtract)
divide = [y / x for x, y in zip(array_1,array_2)]
print("Division",divide)
modulo = [x % y for x, y in zip(array_1,array_2)]
print("Modulo Operator",modulo)

Array 1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Array 2: [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Multiplication [40, 82, 126, 172, 220, 270, 322, 376, 432, 490]
Addition [41, 43, 45, 47, 49, 51, 53, 55, 57, 59]
Subtraction [39, 39, 39, 39, 39, 39, 39, 39, 39, 39]
Division [40.0, 20.5, 14.0, 10.75, 8.8, 7.5, 6.571428571428571, 5.875, 5.333333333333333, 4.9]
Modulo Operator [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Question 7.** Create a dictionary that has key, value pairs for different types of foods. Create a
similar function to Question 5’s function that prints out the value of a key based on input from a
user.
Example:
“Please type your favorite food: “
User types: Pizza
Code response: “Ah, Pizza, we have pepperoni.”
Where pepperoni is the value of the key.

In [58]:
foods = {'pizza','chicken fingers','french fries'}
prompt = "\nWhat would you like?"
prompt +="\nEnter 'quit'"
while True:
  menu = input(prompt)
  if menu != 'quit':
    print(f" add {menu}")
  else:
    break

What would you like?
Enter 'quit'pizza
 add pizza

What would you like?
Enter 'quit'chicken fingers
 add chicken fingers

What would you like?
Enter 'quit'quit

**Question 8.** Create a while loop that will continuously print a message until a specified value is
reached.

In [ ]:
value = 5
current_value = 0
while current_value < value:
  print("I love geography.")
  current_value += 1
print('value reached.')

I love geography.
I love geography.
I love geography.
I love geography.
I love geography.
value reached.

**Question 8b.** Create a while loop that runs a calculation on an array of numbers until the last
value within the array has been run.
The array can contain any numerical values, and the calculation can be something as simple as
multiplying the values by pi or something more complex.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
index = 0
while index < len(numbers):
  current_number = numbers[index]
  answer = current_number * 2
  print(f'{current_number}:{answer}')
  index +=1

1:2
2:4
3:6
4:8
5:10
6:12
7:14
8:16
9:18
10:20

**Question 9.** Please explain the difference between a list, an array, and a dictionary and when you
would use each one. (Type your answer as a comment or within a text cell).

A list is a collection of items in a particular order and can be words or numbers. Lists have countless uses and are very flexible. A good time to use a list would be when you are listing favorites, such as your favorite foods or musical artists.

A dictionary is a collection of key value pairs. Keys are connected to values and you access specific values through keys. Values can be numbers, strings, lists, or other dictionaries. Dictionaries use braces'{}' while lists use brackets'[]'. A good use of dictionaries is in game development. For example, connecting different point values and colors to defeating different aliens such as a green alien is worth 5 points and a purple alien is worth 10 points.

Arrays are not as flexible as lists and only contain one data type whereas lists contain various data types. Arrays are good to use when working with numbers.

**Question 10.** Please explain the difference between logical operators and comparison operators
and describe one use case for when they would be used (do not use the description from the
lecture/lab materials - think through it):

If
Elif
Else

==
!=
& (and)
| (or)

Comparison operators compare two values, while logical operators can account for multiple outcomes. An example of a time to use logical operators would be to determine ticket prices for a football game. You could use the if function to execute a certain price for people aged 65 or older, children 13 or younger, a student ticket, and finally the else function would execute the standard adult ticket.
Comparison operators are good to use with numbers, you can use these operators such as the greater than, less than, equal to functions to compare two values and get the result.